<div class="trade-container">
    {% for time, details in trade.items() %}
        {% set team1 = details[0].team.team_name %}
        {% set team1_assets = [] %}
        {% set team2 = details[-1].team.team_name %}
        {% set team2_assets = [] %}
        {% for asset in details %}
            {% if asset[0].team_name == team1 %}
                {% team1_assets.append(asset) %}
            {% else %}
                {% team2_assets.append(asset) %}
            {% endif %}
        {% endfor %}

        <div class="trade-header">{{ time }}</div>
        <div class="trade-teams">
            <div class="trade-team">
                <img class="trade-team-logo" src="{{ details[0].team.logo_url }}"/>
                {{ team1 }}
            </div>
            <div class="trade-team">
                <img class="trade-team-logo" src="{{ details[-1].team.logo_url }}"/>
                {{ team2 }}
            </div>
        </div>
        <div class="trade-score-meter"></div>
        <div class="trade-details">
            <div class="trade-team-assets">
                {% for asset in details %}
                    {% if asset[0].team_name == team1 %}
                        <p>{{ asset.position }} {{ asset.name }} {{ asset.proTeam }}</p><br>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="trade-scores">
                
            </div>
            <div class="trade-team-assets">
                {% for asset in details %}
                    {% if asset[0].team_name == team2 %}
                        <p>{{ asset.position }} {{ asset.name }} {{ asset.proTeam }}</p><br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>