<div class="trade-container">
    {% set team1 = trade_data["actions"][0][0] %}
    {% set team2 = trade_data["actions"][-1][0] %}

    <div class="trade-header">{{ trade_date }} (Week {{trade_data["week"]}})</div>
    <div class="trade-content">
        <div class="trade-team">
            <img class="trade-team-logo" src="{{ team1.logo_url }}"/>
            {{ team1.team_name }}
        </div>
        <div class="trade-details">
            <div class="trade-team1-assets">
                {% for asset in trade_data["team1_assets"] %}
                    <p>{{ asset.position }} {{ asset.name }} ({{ asset.proTeam }})</p><br>
                {% endfor %}
            </div>
            <div class="trade-scores">
                {{ trade_data["team1_points"] }} - {{ trade_data["team2_points"] }}
            </div>
            <div class="trade-team2-assets">
                {% for asset in trade_data["team2_assets"] %}
                    <p>{{ asset.position }} {{ asset.name }} ({{ asset.proTeam }})</p><br>
                {% endfor %}
            </div>
        </div>
        <div class="trade-team">
            <img class="trade-team-logo" src="{{ team2.logo_url }}"/>
            {{ team2.team_name }}
        </div>
    </div>
    <div class="trade-score-meter"></div>
</div>