<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ name }} League Stats</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/home.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/home_content.css') }}">
    </head>
    <body>
        <div class="content-container">
            <div class="content">
                <div class="league-info">
                    <h1>League {{ name }}</h1>
                    <div class="league-subinfo">
                        <form id="seasonSelect" method="get" onsubmit="updateFormAction(); return false;">
                            <select id="season" name="season" onchange="updateFormAction()">
                                {% for season in seasons %}
                                    {% set index = loop.index %}
                                    <option value="{{ season }}" {% if season == selected_season %}selected{% endif %}>
                                        Season {{ index }} ({{ season }})
                                    </option>
                                {% endfor %}
                            </select>
                        </form>                        
                        <h2>{{ team_count }} teams</h2>
                        <h2>
                            Previous Champion: 
                            {% if previous_winner %}
                                {{ previous_winner[0] }} ({{ previous_winner[1][0] }}-{{ previous_winner[1][2] }}-{{ previous_winner[1][1] }})
                            {% else %}
                                N/A
                            {% endif %}
                        </h2>
                    </div>
                </div>
                <hr>
                <div class="power-rankings-container">
                    <h1>Power Rankings (Week {{ current_week }})</h1>
                    <div class="power-rankings">
                        {% for team in power_rankings %}
                            {% set index = loop.index %}
                            {% if index == 1 %}
                                <h2 class="pr-1">{{team[1].team_name}} ({{team[0]}})</h1>
                            {% elif index == 2 %}
                                <h3 class="pr-2">{{team[1].team_name}} ({{team[0]}})</h2>
                            {% elif index == 3 %}
                                <h4 class="pr-3">{{team[1].team_name}} ({{team[0]}})</h3>
                            {% else %}
                                <h5 class="pr-4">{{index}}. {{team[1].team_name}} ({{team[0]}})</h4>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <button id="load-leaderboards">Load Leaderboards</button>
                <div id="leaderboards-container"></div>
            </div>
        </div>
        <script>
            function updateFormAction() {
                var seasonSelect = document.getElementById('season');
                var form = document.getElementById('seasonSelect');
                form.action = '/season/' + seasonSelect.value;
                form.submit();
            }

            document.getElementById("load-leaderboards").addEventListener("click", function() {
                fetch("/load_leaderboards")
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById("leaderboards-container").innerHTML = data;
                    })
                    .catch(error => console.error('Error:', error));
            });
        </script>
    </body>
</html>
