<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ name }} League Stats</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/home.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/home_content.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/_power_rankings.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/_spinner.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/_leaderboards.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/_trade_box.css') }}">
    </head>
    <body>
        <div class="background-layer">
            <div class="content-container">
                <div class="content">

                    <!-- Header information -->
                    <div class="league-info">
                        <div class="league-title">League {{ name }}</div>
                        <div class="league-subinfo">

                            <!-- Season select dropdown -->
                            <select id="season-select">
                                {% for season in seasons %}
                                    {% set index = loop.index %}
                                    <option value="{{ season }}" {% if season == selected_season %}selected{% endif %}>
                                        Season {{ index }} ({{ season }})
                                    </option>
                                {% endfor %}
                            </select>

                            <!-- Last season champion -->
                            <div>
                                Last Season's Champion: 
                                {% if previous_winner %}
                                    {{ previous_winner[0] }} ({{ previous_winner[1][0] }}-{{ previous_winner[1][2] }}-{{ previous_winner[1][1] }})
                                {% else %}
                                    N/A
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>

                    <!-- Loading overlay for season select (Hidden) -->
                    <div id="season-loading-container">
                        <p id="loading-season"></p>
                        <div class="spinner">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>

                    <!-- Season information and widgets -->
                    <div id="season-info">

                        <!-- Power rankings -->
                        <div class="power-rankings-container">
                            {% with current_week=current_week, power_rankings=power_rankings %}
                                {% include "_power_rankings.html" %}
                            {% endwith %}
                        </div>
                        <hr>

                        <!-- Loading overlay for stat leaderboards (Hidden) -->
                        <p class="leaderboards-header">Leaderboards</p>
                        <div class="load-leaderboards-button-container">
                            <button id="load-leaderboards-button">Load Leaderboards</button>
                        </div>
                        <div id="leaderboards-loading-container">
                            <p class="loading-leaderboards">Loading leaderboards... This may take a minute</p>
                            <div class="spinner">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                        <!-- All stat leaderboards -->
                        <div id="leaderboards-container"></div>
                        <hr>

                        <!-- Trade Tracker-->
                        <p class="trade-tracker-header">Trade Tracker</p>
                        {% if selected_season == current_year %}
                            {% for trade_date, trade_data in trades.items() %}
                                <div class="trade" data-epoch="{{ trade_date }}">
                                    {% with trade_date=trade_date, trade_data=trade_data %}
                                        {% include "_trade_box.html" %}
                                    {% endwith %}
                                </div>
                            {% endfor %}
                        {% elif trades != None and trades|length == 0 %}
                            <p class="trades-none">No trades yet.</p>
                        {% else %}
                            <p class="trade-tracker-unavailable">Trade tracker unavailable for previous seasons.</p>
                        {% endif %}
                        <hr>

                        <!-- Under contruction area -->
                        <div class="under-construction">
                            More is coming... check for updates in the next few days
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
    </body>
</html>
