.stat-boxes-container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.stat-box {
    width: 45%;
    padding: 15px 0px;
}

.leaderboard {
    padding: 10px;
    font-size: 1rem;
}

.leaderboard dt {
    display: flex;
}

.leaderboard dd {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.leaderboard-label {
    padding: 0px 10px;
    font-size: 2rem;
    font-weight: bold;
}

.leaderboard-desc {
    padding-bottom: 10px;
    font-size: 1.2rem;
}

.stat-key {
    font-weight: bold;
}

.stat-val {
    margin-left: auto;
}

.info-key {
    margin-left: 20px;
}

.info-val {
    margin-top: auto;
    margin-left: auto;
    font-size: 0.8rem;
}

/* Optimize page for smaller viewports */
@media (max-width: 768px) {
    .stat-box {
        width: 90%;
    }

    .leaderboard-desc {
        font-size: 1.4rem;
    }
}