@font-face {
    font-family: 'Topic';
    src: url('../fonts/Topic.ttf');
}

@font-face {
    font-family: 'Topic-Bold';
    src: url('../fonts/Topic-Bold.ttf');
}

/* Header styling */
.league-info {
    width: auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.league-title {
    font-size: 3.5rem;
    font-weight: bolder;
}

.league-subinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

select {
    padding: 3px;
    background: transparent;
    border: 3px double #a5a5a5;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: auto;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

select:focus {
    outline: none;
}

/* Leaderboards section styling */
.leaderboards-header {
    padding-top: 20px;
    font-family: 'Topic-Bold', Arial, sans-serif;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 1px;
}

.load-leaderboards-button-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px;
}

#load-leaderboards-button {
    width: fit-content;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

#season-loading-container,
#leaderboards-loading-container,
#luck-loading-container {
    padding: 30px;
    padding-bottom: 60px;
    display: none;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

#loading-season,
.loading-leaderboards,
.loading-luck {
    padding: 30px 0px;
    font-size: 2rem;

}

/* Luck index section styling */
.luck-header {
    padding-top: 20px;
    font-family: 'Topic-Bold', Arial, sans-serif;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 1px;
}

.luck-button-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px;
}

#luck-button {
    width: fit-content;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

#luck-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.luck-index-tip {
    width: 95%;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    font-family: 'Gotham', Arial, sans-serif;
    font-size: 0.8rem;
}

.luck-index-tip-factors {
    line-height: 1.5rem;
    padding-left: 40px;
}

/** Trade tracker */
.trade-tracker-header {
    padding-top: 20px;
    font-family: 'Topic-Bold', Arial, sans-serif;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 1px;
}

.feature-unavailable,
.trades-none {
    padding: 20px;
    text-align: center;
    font-size: 1.6rem;
}

/* Optimize page for smaller viewports */
@media (max-width: 768px) {
    .league-title {
        font-size: 2.8rem;
        padding-top: 20px;
    }

    .league-subinfo {
        font-size: 1.5rem;
    }

    .power-rankings-title {
        font-size: 5rem;
        padding-bottom: 16px;
    }

    .pr-1 {
        font-size: 3.5rem;
        padding-bottom: 12px;
    }
    
    .pr-2 {
        font-size: 3.25rem;
        padding-bottom: 12px;
    }
    
    .pr-3 {
        font-size: 3rem;
        padding-bottom: 12px;
    }
    
    .pr-4 {
        font-size: 2.5rem;
        padding-bottom: 6px;
    }

    .power-rankings-tip {
        font-size: 0.7rem;
    }
}

@media (max-width: 480px) {
    .league-title {
        font-size: 2.5rem;
        padding-top: 20px;
    }

    .league-subinfo {
        font-size: 1.3rem;
    }

    .power-rankings-title {
        font-size: 3.5rem;
        padding-bottom: 16px;
    }

    .pr-1 {
        font-size: 3rem;
        padding-bottom: 12px;
    }
    
    .pr-2 {
        font-size: 2.75rem;
        padding-bottom: 12px;
    }
    
    .pr-3 {
        font-size: 2.5rem;
        padding-bottom: 12px;
    }
    
    .pr-4 {
        font-size: 2rem;
        padding-bottom: 6px;
    }

    .power-rankings-tip {
        font-size: 0.6rem;
    }
}